@import "tailwindcss";

/* Remove autofill background color for inputs */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #374151 inset !important;
  box-shadow: 0 0 0 1000px #374151 inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}
